.App {
  text-align: center;
}

.cover {
  height: 600px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@font-face {
  font-family: "great-vibes";
  font-style: normal;
  font-weight: bold;
  src: url("./assets/fonts/Great_Vibes/GreatVibes-Regular.ttf");
}

.quote {
  font-family: "great-vibes";
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 100px;
}
