body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url(https://fonts.google.com/specimen/Great + Vibes?preview.text=I + am + gonna + suck + M%27s + soul + from + Vakho&preview.text_type=custom);

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  margin-bottom: 20px;
}

.nav-item {
  align-items: center;
}

.main {
  padding: 50px;
}
